label {
    margin-bottom: 15px;
}
  
input[type=text], input[type=email],
textarea {
    border: 1px solid #dddddd;
}
  
#contactMessage {
    height: 350px;
}

input[type=submit] {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}