.screenshot {
    box-sizing: border-box;
    border: 0 none;
    opacity: 0.8;
    object-fit: fill;
}
  
h3 {
    width: 100%;
    margin-bottom: 0;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    border-bottom: 0;
}