@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

body {
    background-image: url('../images/bg-light.png');
    color: #FFF;
    font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a:link {
    color: #c2b5c4;
    text-decoration: none;
}

a:visted {
    color: #FF00FF;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: gold;
    background-color: #96d6dd
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    color: #FFF;
    text-shadow: 2px #9B200E
}

nav {
    background-color: #9B200E;
    margin-bottom: 100px;
}

/* main */
section {
    background-color: darkgoldenrod ;
    width: 100%;
    padding: 10px;
}

.screenshot {
    max-height: 200px;
    max-width: 200px;
}
.card {
    background-color: #9B200E;
}
.profile-picture {
    width: auto;
    height: 200px;
}

.profile-picture:hover {
    -webkit-filter: saturate(7); 
    filter: saturate(7);
}

.header-text {
    
    animation-duration: 3s;
    animation-name: fadein;
}
/* footer */
footer {
    color: #FFF;
    text-align: center;
    background: #9B200E;
    border-top: 8px solid #343a40;
}

.link-badge {
    max-height: 29px;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }