@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

html {
    height: 100%;
    /*width: 100%;*/
}

body {
    background-image: url('../images/ricepaper_v3.png');
    color: #FFF;
    font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
    /* width: 100%; */
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:active {
    color: #5621A3;
}

a:visited {
    color: #212DA3;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: gold;
    background-color:#2DA321
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    color: #FFF;
    text-shadow: 2px #216EA3;
}

nav {
    background-color: #21A356;
    margin-bottom: 0px;
    border-bottom: 8px solid #343a40;
    padding: 1rem;
}

main {
    margin: 0 auto;
    padding-bottom: 2.5%;
}

section {
    width: 100%;
    padding: 20px;
    background-color: #21A356;
    margin: 1rem auto;
    border-top: 8px solid #343a40;
    border-bottom: 8px solid #343a40;
}

.screenshot {
    max-height: 100%;
    max-width: auto;
}

/* .media-body img {
    margin-right: 30px;
} */

.profile-picture:hover {
    -webkit-filter: saturate(7); 
    filter: saturate(7);
}

.glow {
    animation: glow 0.5s infinite alternate-reverse;
}

.parallax {
    background-image: url("../images/banner.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation-duration: 3s;
    animation-name: fadein;
}

.parallax p {
    position:absolute;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    top: 70%;
    left: 10%;
}

#about, #contact, #portfolio-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 10%;
}

#portfolio {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

footer {
    color: #FFF;
    background: #21A356;
    border-top: 8px solid #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
}

footer p {
    font-size: smaller;
}

.link-badge {
    max-height: 25px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin: 0 1rem;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

@media only screen and (max-width: 1261px) {
    #portfolio {
        width: 100%;
    }

    .parallax {
        background-image: none;
        animation: none;
        height: 50%;
        position: relative;
    }

    .parallax p {
        position: relative;
        top: 80%;
        left: 0;
        font-size: 24px;;
        color: #444;
    }
}

@media only screen and (max-width: 390px) {
    main {
        padding-bottom: 4.3rem;
    }
    .flip-container, .front, .back {
        width: 250px;
        height: 320px;
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@keyframes glow {
    from {
        filter: saturate(2);
    }

    to {
        filter: saturate(7);
    }
}