.blackbox {
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.blackbox-text {
    position: absolute;
    z-index: 50;
    display: flex;
}

#pattern {
    color: white;
}

.rect {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.motion-rect {
    font-weight: 600;
    color: gray;
}

.blackbox-text text {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    font-weight: 700;
    fill: url("#pattern");
}

.overflow-hidden {
    overflow: hidden;
}